.heading_of_page {
    align-items: center;
    padding: 0.7em;
}

/*------------------------*/
/*Buttons                 */
/*------------------------*/
.button_section {
    flex-direction: column;
}

.buttons-container {
    width: clamp(22.5rem, 100%, 40rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

/*------------------------*/
/*Share and Like Buttons  */
/*------------------------*/
.share_and_like_section {
    flex-direction: column;
}

.share_and_like_component {
    --gap: 0em;
    width: clamp(22.5rem, 100%, 40rem);
    overflow: hidden; 
    grid-template-columns: repeat(4, 1fr) 30%;
    border: 3px solid hsl(var(--clr-white, 0 0% 100%));
    border-radius: 100vw;
}

.share_and_like_component>*+* {
    border-left: 2px solid white;
}

.share_and_like_component img,
.share_and_like_component i {
    max-width: 1.3em;
    opacity: 0.8;
}

.share_and_like_component > div > button:hover > *{
    opacity: 1;
}

.share_and_like_component > div > button {
    padding: 0.5em;
    border: none;
    place-content: center;
    background-color: transparent;
}

.share_and_like_component > div:nth-of-type(4) > button > img {
    transform: rotate(180deg);
}

.upvotes {
    place-content: center;
}



/*------------------------*/
/*Music Player            */
/*------------------------*/

/*Music Player (Left Side)*/
.music_player_section {
    flex-direction: column;
}

.music_player_container {
    width: 100%;
    min-width: 300px; 
    max-height: 500px;
    display: flex;
    overflow: hidden; 
    transform: scale(0.9); 
}

.music_player_additional_info {
    display: none;
}

.apple_music_link {
    text-decoration: underline ;
}

.music_player_white_side {
    --gap: 3em; 
    padding: 1em;
    display: grid;
    grid-template-rows: 4rem 1fr 30px 110px; 
    flex-basis: 300px; 
    flex-shrink: 0;
}

.music_player_apple_music_logo {
    align-self: center;
}

.music_player_apple_music_logo img{
    max-width: 70px; 
    opacity: 70%;
}

.music_player_album_cover img{
    border-radius: 20px;
}

.apple_music_cta{
    padding: 0.7em 1em;
    align-self: end; 
    text-decoration: none; 
    text-align: center; 
}

/*Music Player Playlist (Right Side)*/
.music_player_yellow_side {
    --gap: 0em; 
    flex-basis: 100%; 
    grid-template-rows: 90px auto 90px;
}

.music_player_currently_playing {
    align-items: center; 
    justify-content: space-between;
    padding: 1.5em 1em;
}

.current_song {
    font-weight: 700; 
    flex-basis: 400px
}


.music_player_playlist {
    --gap: 0em; 
    flex-direction:column; 
    padding: 0.1em 0em; 
}

.music_player_playlist > * { 
    padding: 0.5em 3em;
}

.music_player_playlist > *:not(:last-child){
    /* background: red; */
    border-bottom: 2px solid hsl(var(--clr-gray, 0 0% 67%)/0.2)
}

.fa-e {
    border: 2px solid hsl(var(--clr-dark, 0 0% 9%));
    float: right;
    padding: 0.25em;
}


.level_bars{
    --gap: 0.2em; 
    flex-basis: 50px;  
    justify-content: flex-end;
}


.level_bar{
    width: 5px;
    aspect-ratio: 1/2;
    background-color: hsl(var(--clr-white, 0 0% 100%));
    animation: levels 0s ease infinite;
    transition: 0.5s ease;
    transform-origin: bottom;
    transform: scaleY(0.5);
}

@keyframes levels {
    50% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0.5)
    }
}

.level_bar.one {
    animation-delay: 0.15s;
}

.level_bar.three {
    animation-delay: 0.4s;
}

.music_player_playlist_container {
    overflow: scroll;
}

.controls_container {
    padding: 1em;
    --gap: 1em; 
    align-items: center; 
}

.controls {
    padding: 0.95em 2.6em 0.95em 1.7em; 
    grid-template-columns: 15px auto 25px; border-radius: 100vw; 
    border: 3px solid white;
}

.play_pause_btn {
    --gap: 0em;
    align-items: center; 
    background: transparent; 
    border: none;
}

.progress_container {
    position: relative; 
}

.progress_track {
    height: 3px; 
    transform-origin:left; 
    transition: transform 100ms linear; 
    width: 100%; 
    transform: scaleX(1) translateY(-50%); 
    top: 50%; 
    position: absolute;
    opacity: 0.3
}

.progress {
    height: 3px; 
    transform-origin:left; 
    transition: width 100ms linear; 
    width: 0%; 
    transform: translateY(-50%); 
    top: 50%; 
    position: absolute; 
}

.audio_duration {
    align-self: center;
}


@media screen and (max-width: 768px) {
    /*Remove the white side on smaller screen sizes, and add in any missing info to the remaining ui*/
    .music_player_white_side {
        display: none;
    }

    .music_player_additional_info {
        display: block;
    }

    
}




/*------------------------*/
/*Comment Section         */
/*------------------------*/
.comment_section {
    flex-direction: column;
}

.comment_heading_details {
    --gap: 0em; 
    flex-direction: column;
}

.comment_title {
    text-align: left;
}

.comment_subtitle{
    max-width: 50ch
}

.comment_textarea {
    padding: 0.5em;
    border: 3px solid hsl(var(--clr-white, 0 0% 100%)); 
    border-radius: 10px; 
    transition: border var(--speed) ease;
    background: transparent; 
    width: clamp(10em, 100%, 70em);
    min-height: 10em; 
}

.comment_textarea:focus {
    outline: none;
    border: 3px solid hsl(var(--clr-accent, 60 100% 50%)); 
}

.submit_comment_btn {
    justify-self: end; 
    width: 50%; 
    margin-bottom: 2em;
}

.comment_container {
    --gap: 0.7em;
    padding: 0.5em;
}

.comment_top_row {
    justify-content: space-between;
}

.profile_picture {
    width: 50px; 
    border-radius: 50%; 
}

.comments {
    --gap: 0.5em;
    flex-direction: column;
}

.comments> * {
    border: 3px solid gray;
}

.account_name, 
.time_past {
    opacity: 1;
    animation: opacityChange 1.5s ease;
    animation-fill-mode: forwards;
}

@keyframes opacityChange{
    100% {
        opacity: 0.5;
    }  
} 

.upvotes_downvotes > button{
    background: transparent;
    border: none;


}

.upvotes_downvotes > button > i {
    color: hsl(var(--clr-white, 0 0% 100%));
}



/*------------------------*/
/*Lyrics Analysis         */
/*------------------------*/
.lyric_analysis_section {
    --gap: 1.2em;
    flex-direction: column;
    height: 100%;
}

.lyric_analysis_component {
    height: 100%;
    align-items: start;
}


/*Annotation*/
.annotation_side{
    flex-basis: 45%;
    width: 50vw;
    align-self: stretch;
    justify-self: stretch;
    /* outline: 3px solid red; */
}

.annotation {
    position: absolute;
    z-index: 100;
    min-width: 10em;
    max-width: 22em;
    height: auto;
    padding: 1.5em 1em;
    visibility:hidden;
    border: 2px solid hsl(var(--clr-accent, 60 100% 50%));
    background-color: hsl(var(--clr-dark, 0 0% 9%));
    transform: translateX(-10%);
}   

.annotation_animation{
    animation: annotationSlideOut 0.5s ease-out forwards;
}


@keyframes annotationSlideOut {
    100% {
        transform: translateX(0%);
    }
}

.annotation_top_row {  
    justify-content: space-between;
    align-items: center;
    margin: 0em 0em 2em;
}

.annotation_top_row strong{
    font-weight: 500;
}

.annotation_edit_textarea{
    width: 100%;
    height: 10em;
    display: none;
    resize: none;
}

.annotation_edit_review {
    padding: 0.5em;
    display: none;
    font-weight: 600;
    background-image: repeating-linear-gradient(
            45deg, 
            hsl(var(--clr-accent, 60 100% 50%), 0.1) 0px,
            hsl(var(--clr-accent, 60 100% 50%), 0.1) 5px,
            hsl(var(--clr-accent, 60 100% 50%), 0.3) 5px,
            hsl(var(--clr-accent, 60 100% 50%), 0.3) 10px

    )
}

.annotation_details {
    line-height: 2;
    margin-bottom: 0.5em;
}

.annotation_details a{
    color: hsl(var(--clr-accent, 60 100% 50%));
    font-size: var(--fs-200);
    text-decoration: none;
}

.annotation_figcaption {
    margin-top: 0.5em;
    text-align: center;
}

.annotation_figcaption a{
    color: hsl(var(--clr-accent, 60 100% 50%));
}

.annotation_edit_btn {
    border: 2px solid hsl(var(--clr-accent, 60 100% 50%));
    border-radius: 0px;
    margin-bottom: 1em;
    /* background: none; */
    color:hsl(var(--clr-white, 0 0% 100%));
}

.annotation_interactions {
    margin: 1.75em 0em 0.5em;
}

.annotation_upvote_container {
    flex-basis: 25%;
}

.annotation_downvote {
    flex-basis: 50%;
    display: flex;
}

.annotation_interactions button{
    background: none;
    border: none;
}

i.fa-thumbs-down {
    transform: rotateY(180deg);
    justify-self: end;
    align-self: center;
}

.annotation_share_btn {
    --gap: 0.5em;
}

.annotation_share_link {
    position: relative;
    align-self: center;
    text-decoration: none;
}

i.fa-share {
    align-self: center;
}

.annotation_share_link::before {
    position: absolute; 
    content: '';
    top: 100%; 
    left: 0; 
    width: 100%; 
    height: 2px;
    background-color: hsl(var(--clr-white, 0 0% 100%));
    transform: scaleX(1);
}

.annotation_share_link::after {    
    position: absolute; 
    content: '';
    top: 100%; 
    left: 0; 
    width: 100%; 
    height: 2px;
    background-color: hsl(var(--clr-white, 0 0% 100%));
    transition: transform var(--speed) ease;
    transform-origin: right;
    transform: scaleX(0);
}

.annotation_share_btn:hover  .annotation_share_link::before {
    transform: scaleX(0);
}

.annotation_share_btn:hover .annotation_share_link::after {
    transform: scaleX(1);
    transform-origin: left;
}

[name="suggestions"] {
    width: 100%;
    border: 2px solid hsl(var(--clr-accent, 60 100% 50%)); 
    border-radius: 100vw;
    padding: 0.25em 1em;    
}

[name="suggestions"]:focus{
    outline: none;
    border: 2px solid hsl(var(--clr-white, 0 0% 100%)); 
}

/*Lyrics*/
.lyrics_side{
    flex-basis: 55%;
}

.lyrics_song_title {
    max-width: 45ch;
    margin-bottom: 3em;
}

.lyrics {
    line-height: 1.5;
}

.lyrics_part {
    max-width: 45ch;
    margin-bottom: 1em;
    white-space: pre-line;
}

/*Highlights*/
.highlights {
    background-color: hsl(var(--clr-accet, 60 20% 30%));
    position: relative;
    padding: 0.1em;
}

.highlights:hover {
    background-color: hsl(var(--clr-accent, 60 100% 50%), 1);
    color: hsl(var(--clr-dark, 0 0% 9%));
}

.highlights:hover::after {
    display: block;
}

.highlights::after {
    display: none;
    position: absolute;
    content: '';
    top: 0; 
    left: 0; 
    transform: translate(-100%, 0%);
    background-color: hsl(var(--clr-accent, 60 100% 50%)); 
    height: 1.4em; 
    aspect-ratio: 0.645/1;
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
}

@media screen and (max-width: 768px) {
    .lyrics_side {
        flex-basis: 100%;
    }
    .lyrics_song_title {
        max-width: 100%;
    }
    
    .lyrics {
        line-height: 1.5;
    }
    
    .lyrics_part {
        max-width: 100%;
        margin-bottom: 1em;
        white-space: pre-line;
    }
    .annotation_side {
        flex-basis: 0;
    }
    .lyric_analysis_section {
        --gap: 0em;
    }
}




/*----------------------*/
/*Verified Artists      */
/*----------------------*/

.verified_artists_section {
    flex-direction: column;
}

.verified_artists_component {
    width:100%;
    height: 100%;
    flex-direction: column;
    grid-template-columns: 50% 25% auto;
    grid-template-rows: 60% 40%; 
    grid-template-areas: 
    "verified-artists-h1 most-popular choose-letter"
    "verified-artists-list verified-artists-list verified-artists-list";
    align-items: center;
}

.verified_artists_component li{
    list-style: none;
}

.verified_artists_component h2 {
    grid-area: verified-artists-h1;
    justify-self: start;
    text-align: left;

}

.verified_artists_component h3 {
    grid-area: most-popular;
}

.choose_letter_container {
    position: relative;
    aspect-ratio: 1;
    grid-area: choose-letter;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    border-radius: 50%;
    cursor: move;
    user-select: none;
    background-image: radial-gradient(circle at center, hsl(var(--clr-accent, 60, 100% 50%), 0.3), transparent 60%);
    
}

.choose_letter {
    position: absolute;
    aspect-ratio: 1;
    background-image: radial-gradient(circle at 5%, hsl(var(--clr-accent, 60, 100% 50%), 0.5), transparent 40%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(25%);
}

.choose_letter li {
    display: grid; 
    place-items: center;
}

.verified_artists_list {
    grid-area: verified-artists-list;
}

.verified_artists_list > *+* {
    border-bottom: 2px solid hsl(var(--clr-accent, 60 100% 50%), 0.3);
}

.verified_artists_overflow{
    position: relative;
    z-index: 1;
    border-top: 2px solid hsl(var(--clr-accent, 60 100% 50%), 0.3);
    transition: color var(--speed) ease;
}

.verified_artists_overflow::after{
    content: "";
    position: absolute;
    top: 0; 
    left: 0; 
    z-index: -1;
    height: 100%; 
    width: 100%; 
    background-color: hsl(var(--clr-accent, 60 100% 50%), 1);
    transition: transform var(--speed) ease;
    transform-origin: bottom center;
    transform: scaleY(0%);
}

.verified_artists_overflow:hover::after {
    transform-origin: top center;
    transition: transform var(--speed) 0.2s ease;
    transform: scaleY(100%);
}

.verified_artists_overflow:hover {
    color: black;
    transition: color var(--speed) 0.2s ease;
}

.verified_artists_overflow {
    overflow: hidden;
    height: 3em;
}

.verified_artists_overflow > ul{
    transition: transform var(--speed) ease;
}

.verified_artists_overflow > ul > li {
    grid-template-columns: 50% 50%;
    padding: 1em;
}


.verified_artists_overflow > ul > li > span:first-child{
    flex-basis: 50%;
}

@media screen and (max-width: 768px){
    .verified_artists_component {
        gap: 2em;
        grid-template-rows: 100px 100px 30%; 
        grid-template-areas: 
        "verified-artists-h1 . ."
        "most-popular choose-letter ."
        "verified-artists-list verified-artists-list verified-artists-list";
    }
}
/*----------------------*/
/*Footer                */
/*----------------------*/

footer{
    text-align: center;
    margin: 7vh 0vh 3vh;
}