* {
    cursor: none;
}

#cursor-outer {
    position: absolute;
    z-index: 1000;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border: 3px solid hsl(var(--clr-yellow, 60 100% 50%));
    transition: 0.2s width;
}

#cursor-inner {
    position: absolute;
    width: 38px;
    aspect-ratio: 1;
    pointer-events: none;
    border-radius: 50%;
    background: hsl(var(--clr-yellow, 60 100% 50%));
    mix-blend-mode: difference;
    transition: 0.3s width ease;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: grid;
    place-items: center;
}

#cursor-text {
    transition: opacity 0.2s ease;
    opacity: 0;
    transform: rotate(45deg);
}