@import url(setup.css);

/*Header*/
#header {
    position: sticky;
    z-index: 999;
}


/*Navigation Bar*/
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    transition: clip-path var(--speed) ease;
}

#nav-filler {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    box-shadow: 0 0 0 3px solid hsl(var(--clr-accent, 60 100% 50%));
    background-color: hsl(var(--clr-dark, 0 0% 9%));
    transition: var(-speed, 500ms) ease;
    transform-origin: top;
}

#navbar-wrapper {
    --gap: 0;
    position: fixed;
    top: 0;
    width: 96%;
    height: inherit;
    grid-template-columns: 20% 37% auto 20%;
    grid-template-rows: 55% 3px auto;
    grid-template-areas:
        "nav-logo nav-links nav-socials nav-buttons"
        "nav-hr   nav-hr    nav-hr      nav-hr"
        "nav-search   .         .           .";
    transition: background-color var(--speed, 200ms) ease;
}


/*Navigation Logo*/
#nav-logo-container {
    width: 100%;
    height: 100%;
    margin: 0 auto 0 0;
    grid-area: nav-logo;
}

#nav-logo-container a{
    align-items: center;
}

#nav-logo-img {
    max-height: 50%;
    object-fit: contain;
    transition: transform var(--speed, 500ms) ease;
}


/*Navigation Links*/
#nav-link-container {
    grid-area: nav-links;
    justify-content: space-evenly;
    align-items: center;
}

.nav_link>a {
    padding: 0.1em 0.1em;
}

.nav_link>a:hover {
    padding: 0.1em 0.1em;
    color: hsl(var(--clr-accent, 60 100% 50%));
    transition: color var(--speed) ease;
}

.nav_link>a:focus {
    outline: 2px solid hsl(var(--clr-accent, 60 100% 50%));
}



/*Navigation Social Links*/
#nav-social-link-container {
    --gap: 1.1em;
    grid-area: nav-socials;
}

.nav_social_link {
    width: 1.4em;
    padding: 0.1em 0.1em;
}


.nav_social_link>a:focus {
    outline: 2px solid hsl(var(--clr-white, 0 0% 100%));
}


/*Navigation Buttons*/
#nav-buttons-container {
    --gap: 0.35em;
    grid-area: nav-buttons;
    justify-content: flex-end;
    align-items: center;
}

.nav_button>a {
    line-height: 1.5;
}


/*Navigation Hr*/
#nav-hr {
    grid-area: nav-hr;
    border: none;
}


/*Navigation Search*/
#nav-search-container {
    width: 100%;
    height: 100%;
    grid-area: nav-search;
    align-items: center;
    justify-content: flex-start;
}

#nav-search-wrap {
    padding: 0.25em 0.5em;
    border: 2px solid hsl(var(--clr-yellow, 60 100% 50%));
    border-radius: 100vw;
    transition: transform var(--speed, 500ms) ease, border var(--speed, 500ms) ease;
}


#nav-search-label {
    width: 1em;
    height: 100%;
}

#nav-search-img {
    min-width: 15px;
}

#nav-search {
    text-align: end;
    width: 12rem;
    border: none;
    background-color: transparent;
}


/*Navigation Hamburger Icon*/
#nav-hamburger-container {
    display: none;
}


/*Mobile Navigation*/
#mobile-nav-container {
    display: none;
}



/*-----------------------------*/
/* Media Queries               */
/*-----------------------------*/

@media (max-width: 1336px) {
    #navbar-wrapper
    {grid-template-columns: 20% 42% auto 20%;}
}

@media (max-width: 1206px) {

    /*Navigation Bar*/
    #navbar-wrapper {
        grid-template-columns: 20% 55% auto;
        grid-template-areas:
            "nav-logo nav-links nav-buttons"
            "nav-hr   nav-hr      nav-hr"
            "nav-search   .           .";
    }

    /*Navigation Social Link*/
    #nav-social-link-container {
        display: none;
    }

}



@media (max-width: 1024px) {

    /*Setup Modifications*/
    :root {
        font-size: 12pt;
    }

    /*Navigation Bar*/
    #navbar-wrapper {
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "nav-logo nav-hamburger-icon"
            "nav-hr nav-hr"
            "nav-search nav-buttons";
    }


    /*Navigation Links*/
    #nav-link-container {
        display: none;
    }


    /*Navigation Social Links*/
    #nav-social-link-container {
        display: none;
    }


    /*Navigation Search*/
    #nav-search-wrap {
        padding: 0rem 0.5rem 0rem;
    }


    /*Navigation Sign In Button*/
    #nav-buttons-container>.nav_button:nth-of-type(2) {
        display: none;
    }


    /*Navigation Hamburger Icon*/
    #nav-hamburger-container {
        grid-area: nav-hamburger-icon;
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .mobile-nav-toggle {
        position: relative;
        aspect-ratio: 4/1;
        padding: 0.5em;
        border: none;
        background-color: hsl(var(--clr-accent, 60 100% 50%));
        z-index: 3000;
    }

    .mobile-nav-toggle::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 40%;
        background-color: hsl(var(--clr-dark, 0 0% 9%));
        top: 30%;
        left: 0;
    }

    #nav-hamburger-wrapper {
        height: 25%;
        aspect-ratio: 4/1;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav_hamburger_span {
        width: 100%;
        background: hsl(var(--clr-accent, 60 100% 50%));
    }


    /*Navigation Bar*/
    #navbar-wrapper {
        margin-inline: 2vw;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "nav-logo nav-hamburger-icon"
            "nav-hr nav-hr"
            "nav-search nav-buttons";
    }


    /*Navigation Links*/
    #nav-link-container {
        display: none;
    }


    /*Navigation Social Links*/
    #nav-social-link-container {
        display: none;
    }


    /*Navigation Search*/
    #nav-search-wrap {
        padding: 0rem 0.5rem 0rem;
    }

    #nav-search {
        text-align: end;
        width: 10em;
        padding: 0.5em;
        font-size: var(--fs-200);
    }


    /*Navigation Sign In Button*/
    #nav-buttons-container>.nav_button:nth-of-type(2) {
        display: none;
    }


    /*Navigation Hamburger Icon*/
    #nav-hamburger-container {
        grid-area: nav-hamburger-icon;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    #nav-hamburger-wrapper {
        height: 25%;
        aspect-ratio: 4/1;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav_hamburger_span {
        width: 100%;
        padding: 2px;
        background: hsl(var(--clr-accent, 60 100% 50%));
    }


    /*Mobile Nav*/
    #mobile-nav-container {
        position: fixed;
        right: 0;
        top: 0;
        width: 50vw;
        height: 100vh;
        display: block;
        background-color: hsl(var(--clr-accent, 60 100% 50%));
        transition: transform var(--speed, 500ms) ease-in;
        transform: translateX(100%);
    }

    #mobile-nav-wrapper {
        width: 100%;
        height: 100%;
        padding-right: 2vw;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: calc(130px*0.55) 3px calc(130px*0.45);
        grid-template-areas:
            "mobile-nav-hamburger-icon"
            "mobile-nav-hr"
            "mobile-menu";
    }

    #mobile-nav-hamburger-container {
        --clr-dark: 60 100% 50%;
        --clr-accent: 0 0% 9%;
        grid-area: mobile-nav-hamburger-icon;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    #mobile-nav-hamburger-wrapper {
        height: 25%;
        aspect-ratio: 4/1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .mobile_nav_hamburger_span {
        width: 100%;
        padding: 2px;
        background-color: hsl(var(--clr-dark, 0 0% 9%));
    }


    /*Mobile Nav Links*/
    #mobile-nav-link-container {
        flex-direction: column;
        align-items: end;
        --padding-gap: 0.25em 0.5em;
    }

    .mobile_nav_link {
        padding: var(--padding-gap, 0.25em 0.5em);
        color: hsl(var(--clr-dark, 0 0% 9%));
    }

    .mobile_nav_link:focus {
        padding: var(--padding-gap, 0.25em 0.5em);
        color: hsl(var(--clr-accent, 60 100% 50%));
        background-color: hsl(var(--clr-dark, 0 0% 9%));
    }

}

@media (max-width: 810px) {

    #nav-logo-img {
        max-width: 50%;
    }

}

@media (max-width: 684px) {
    :root {
        --fs-700: 0.5rem;
    }
    /*Navigation Logo*/
    #nav-logo-img {
        max-width: 90%;
    }
}

/*Smartphone Max-Width*/
@media (max-width: 484px) {

    /*Navigation Logo*/
    #nav-logo-img {
        max-width: 90%;
        padding-left: 0;
    }

}