/*SETUP*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;494&display=swap');

:root {
    --dark-gray: rgb(22, 22, 22);
    --off-white: rgb(235, 235, 235);
    --off-white-dark: rgb(140, 140, 140);
    --yellow: rgb(255, 255, 0);
    --small-font: 11pt;
    --medium-font: 18pt;
    --large-font: 35pt;
    --padding: 4px 17px;
    --transition: 0.5s ease;
}

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--small-font);
    color: rgb(203, 202, 205);
    color: var(--off-white, rgb(203, 202, 205));
    /* cursor: none; */
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

canvas {
    z-index: 9999;
}

