featured.html
references
componenets.html
script/script.js
script/preload.js
script/variables.js 
script/featured.js
script/load-more.js 
scipt/color-scheme.js
css/featured.css
css/home.css
markdown/pseudo-code.md 
markdown/checklist.md 