old.html
featured.html
references
script/script.js
script/preload.js
script/variables.js 
script/featured.js
script/color-scheme.js
script/featured-preload.js
script/nav.js
css/featured.css
css/home.css
markdown/pseudo-code.md 
markdown/checklist.md 
*.dccache
*.xd