//SETUP
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;494&display=swap');

:root {
    $dark-gray: rgb(22, 22, 22);
    $off-white: rgb(203, 202, 205);
    $yellow: rgb(255, 255, 0);
    $small-font: 14pt; 
    $medium-font: 18pt; 
    $large-font: 40pt;
}

* {
    margin: 0px; 
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}


//ACTUAL SCSS
#topbar {
    display: flex;
    flex-direction: column;
}

#navbar {
    background: green;
    display: flex;
    width: 95%;
    height: 70px;
    align-self: center;
    border-bottom: 2px solid $yellow;
}

#navbar > img{
    width: 120px;
    object-fit: contain;
}

#search-container {
    width: 95%;
    align-self: center; 
    background: yellow;
}
