//SETUP
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;494&display=swap');

:root {
    $dark-gray: rgb(22, 22, 22);
    $off-white: rgb(203, 202, 205);
    $yellow: rgb(255, 255, 0);
    $small-font: 14pt; 
    $medium-font: 18pt; 
    $large-font: 40pt;
}

* {
    margin: 0px; 
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

//ACTUAL SCSS

